<header class="py-6 bg-slate-50">
  <div class="max-w-5xl px-4 lg:px-0 mx-auto">
    <div class="flex justify-between items-center">
      <a href="#" class="inline-flex items-center gap-3">
        <div class="w-10 h-10 bg-yellow-700 rounded-full"></div>
        <span class="font-bold text-lg uppercase">SSP Advocaten</span>
      </a>
      <nav class="navigation-circle hidden sm:block">
        <ul class="flex items-center gap-3">
          <li *ngFor="let nav of navigations">
            <ng-container *ngIf="nav.submenu.length > 1 else standAloneNav">
              <div hlMenu class="relative">
                <span class="rounded-md shadow-sm">
                  <button
                    hlMenuButton
                    class="text-sm flex gap-2 px-4 py-2 text-slate-500 hover:text-slate-900"
                  >
                    <span>{{ nav.name }}</span>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
                      <path fill-rule="evenodd" d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                    </svg>
                  </button>
                </span>

                <div
                  *hlMenuItems
                  @toggleAnimation
                  class="z-30 absolute left-0 w-56 mt-2 origin-top-left bg-white border border-gray-200 divide-y divide-gray-100 rounded-md shadow-lg outline-none"
                >
                  <div *ngFor="let subNav of nav.submenu" class="py-1">
                    <a
                      *hlMenuItem="let item"
                      [routerLink]="subNav.url"
                      [class]="
                        item.active ? 'bg-gray-100 text-gray-900' : 'text-gray-700'
                      "
                      class="flex justify-between w-full px-4 py-2 text-sm leading-5 text-left"
                    >
                      {{ subNav.name }}
                    </a>
                  </div>
                </div>
              </div>
            </ng-container>
            <ng-template #standAloneNav>
              <a [routerLink]="nav.url" routerLinkActive="font-bold" class="text-sm block px-4 py-2 text-slate-500 hover:text-slate-900">{{ nav.name }}</a>
            </ng-template>
          </li>
        </ul>
      </nav>
      <nav id="mobile-nav" class="fixed sm:hidden top-0 right-0 bottom-0 left-[10%] translate-x-[100%] transition duration-150 ease-in-out bg-neutral-50 z-30" [class.active]="isSidebarActive">
        <div class="px-8 pt-6 flex justify-between items-center mb-10">
          <div href="#" class="inline-flex items-center gap-3">
            <div class="w-10 h-10 bg-yellow-700 rounded-full"></div>
            <span class="font-bold text-lg uppercase text-slate-900">SSP Advocaten</span>
          </div>
          <button (click)="toggleSidebar()" class="inline-flex sm:hidden items-center">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
          </button>
        </div>
        <div class="px-8">
          <ul class="flex flex-col gap-4">
            <li *ngFor="let nav of navigations">
              <a [routerLink]="nav.url" routerLinkActive="font-bold" class="py-4 text-end text-sm block text-slate-500 hover:text-slate-900">{{ nav.name }}</a>
            </li>
          </ul>
        </div>
      </nav>
      <div *ngIf="isSidebarActive" class="absolute sm:hidden inset-0 bg-neutral-900/50 z-20"></div>
      <button (click)="toggleSidebar()" class="inline-flex sm:hidden items-center">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
      </button>
    </div>
  </div>
</header>
