#mobile-nav.active {
  transform: translateX(0);
}

.mobile-nav-item-wrapper li a {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.mobile-nav-item-wrapper li:first-child a {
  border-top: 0;
  border-bottom: 0;
}

.mobile-nav-item-wrapper li:last-child a {
  border-bottom: 0;
  border-top: 0;
}
