<div class="relative">
  <div class="max-w-5xl px-4 lg:px-4 mx-auto py-10">
    <div class="flex flex-col sm:flex-row items-center justify-center gap-4 sm:gap-14">
      <div class="w-[240px] h-[240px] sm:w-[320px] sm:h-[320px]">
        <img src="/placeholders/empty-component.svg" alt="Empty Component Illustration" class="w-full h-full object-contain grayscale">
      </div>
      <div>
        <h2 class="text-gray-900 text-xl sm:text-2xl md:text-4xl font-bold text-center sm:text-left">
          Atur {{ module }} terlebih dahulu untuk memulai!
        </h2>
      </div>
    </div>
  </div>
</div>
