<section id="article-banner" class="h-[200px] w-full mb-10">
  <div class="relative max-w-5xl px-4 lg:px-0 mx-auto h-full flex justify-center items-center">
    <h1 class="uppercase text-3xl md:text-5xl leading-8 font-bold tracking-tight mb-4 text-slate-50">Artikel</h1>
  </div>
</section>

<section id="article-content" class="relative max-w-5xl px-4 lg:px-0 mx-auto">
  <div class="flex gap-4">
    <div class="flex-1">
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
        <div class="col">
          <article class="relative">
            <div class="rounded-t overflow-hidden aspect-video bg-slate-200">
              <!-- <img src="https://source.unsplash.com/500x500" alt="" class="w-full h-full object-cover"> -->
            </div>
            <div class="p-1 pt-2">
              <h2 class="text-sm font-bold text-slate-900">This article Title</h2>
              <p class="text-sm text-neutral-600 line-clamp-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, omnis!</p>
            </div>
          </article>
        </div>
        <div class="col">
          <article class="relative">
            <div class="rounded-t overflow-hidden aspect-video bg-slate-200">
              <!-- <img src="https://source.unsplash.com/500x500" alt="" class="w-full h-full object-cover"> -->
            </div>
            <div class="p-1 pt-2">
              <h2 class="text-sm font-bold text-slate-900">This article Title</h2>
              <p class="text-sm text-neutral-600 line-clamp-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, omnis!</p>
            </div>
          </article>
        </div>
        <div class="col">
          <article class="relative">
            <div class="rounded-t overflow-hidden aspect-video bg-slate-200">
              <!-- <img src="https://source.unsplash.com/500x500" alt="" class="w-full h-full object-cover"> -->
            </div>
            <div class="p-1 pt-2">
              <h2 class="text-sm font-bold text-slate-900">This article Title</h2>
              <p class="text-sm text-neutral-600 line-clamp-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, omnis!</p>
            </div>
          </article>
        </div>
        <div class="col">
          <article class="relative">
            <div class="rounded-t overflow-hidden aspect-video bg-slate-200">
              <!-- <img src="https://source.unsplash.com/500x500" alt="" class="w-full h-full object-cover"> -->
            </div>
            <div class="p-1 pt-2">
              <h2 class="text-sm font-bold text-slate-900">This article Title</h2>
              <p class="text-sm text-neutral-600 line-clamp-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, omnis!</p>
            </div>
          </article>
        </div>
        <div class="col">
          <article class="relative">
            <div class="rounded-t overflow-hidden aspect-video bg-slate-200">
              <!-- <img src="https://source.unsplash.com/500x500" alt="" class="w-full h-full object-cover"> -->
            </div>
            <div class="p-1 pt-2">
              <h2 class="text-sm font-bold text-slate-900">This article Title</h2>
              <p class="text-sm text-neutral-600 line-clamp-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, omnis!</p>
            </div>
          </article>
        </div>
        <div class="col">
          <article class="relative">
            <div class="rounded-t overflow-hidden aspect-video bg-slate-200">
              <!-- <img src="https://source.unsplash.com/500x500" alt="" class="w-full h-full object-cover"> -->
            </div>
            <div class="p-1 pt-2">
              <h2 class="text-sm font-bold text-slate-900">This article Title</h2>
              <p class="text-sm text-neutral-600 line-clamp-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, omnis!</p>
            </div>
          </article>
        </div>
        <div class="col">
          <article class="relative">
            <div class="rounded-t overflow-hidden aspect-video bg-slate-200">
              <!-- <img src="https://source.unsplash.com/500x500" alt="" class="w-full h-full object-cover"> -->
            </div>
            <div class="p-1 pt-2">
              <h2 class="text-sm font-bold text-slate-900">This article Title</h2>
              <p class="text-sm text-neutral-600 line-clamp-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, omnis!</p>
            </div>
          </article>
        </div>
        <div class="col">
          <article class="relative">
            <div class="rounded-t overflow-hidden aspect-video bg-slate-200">
              <!-- <img src="https://source.unsplash.com/500x500" alt="" class="w-full h-full object-cover"> -->
            </div>
            <div class="p-1 pt-2">
              <h2 class="text-sm font-bold text-slate-900">This article Title</h2>
              <p class="text-sm text-neutral-600 line-clamp-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, omnis!</p>
            </div>
          </article>
        </div>
        <div class="col">
          <article class="relative">
            <div class="rounded-t overflow-hidden aspect-video bg-slate-200">
              <!-- <img src="https://source.unsplash.com/500x500" alt="" class="w-full h-full object-cover"> -->
            </div>
            <div class="p-1 pt-2">
              <h2 class="text-sm font-bold text-slate-900">This article Title</h2>
              <p class="text-sm text-neutral-600 line-clamp-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, omnis!</p>
            </div>
          </article>
        </div>
      </div>
    </div>
    <div class="w-[256px] relative">
      <aside class="sticky bg-red-50 top-10 w-full">
        <div class="relative">
          <input type="text" class="w-full px-3 py-2 placeholder:text-sm text-sm focus-within:outline-none border-slate-200 border text-slate-900 rounded" placeholder="Cari Artikel">
        </div>
      </aside>
    </div>
  </div>
</section>
