<section id="article-banner" class="h-[200px] w-full mb-10">
  <div class="relative max-w-5xl px-4 lg:px-0 mx-auto h-full flex items-center">
    <h1 class="uppercase text-3xl md:text-5xl leading-8 font-bold tracking-tight text-slate-50">Postingan</h1>
  </div>
</section>

<!-- <ng-container *ngIf="recomendedPosts.length > 0 || articlePosts.length > 0 || mediaPosts.length > 0 || newsPosts.length > 0; else emptyPosts"> -->

<!-- </ng-container> -->
<ng-template #emptyPosts>
  <app-empty-page module="postingan"></app-empty-page>
</ng-template>
