<swiper-container navigation="false" effect="fade" pagination="true" pagination-clickable="true" loop="true" autoplay-delay="2500" autoplay-disable-on-interaction="false">
  <swiper-slide>
    <div class="relative h-full w-full">
      <div class="my-swiper-img-wrapper w-full h-full">
        <img src="https://images.unsplash.com/photo-1589829545856-d10d557cf95f?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" class="w-full h-full object-cover">
      </div>
      <div></div>
      <div class="absolute top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2 w-[64rem] max-w-5xl px-4 lg:px-0">
          <h1 class="text-4xl md:text-6xl leading-8 font-bold tracking-tight mb-4 text-slate-50">Create stunning web experiences</h1>
          <p class="text-base md:text-lg leading-6 tracking-normal mb-8 text-slate-50">
            Our landing page template works on all devices, so you only have to set it up once, and get beautiful results forever.
          </p>
          <div class="flex gap-3">
            <div>
              <a href="#" class="w-full px-5 py-2.5 text-sm inline-flex leading-4 gap-2 bg-yellow-700 text-slate-50">
                <span>See More</span>
              </a>
            </div>
            <div>
              <a href="#" class="w-full px-5 py-2.5 text-sm inline-flex leading-4 gap-2 bg-transparent text-slate-50">
                <span>See Articles</span>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                </svg>
              </a>
            </div>
          </div>
      </div>
    </div>
  </swiper-slide>
  <swiper-slide>
    <div class="relative h-full w-full">
      <div class="my-swiper-img-wrapper w-full h-full">
        <img src="https://source.unsplash.com/2000x1000" alt="" class="w-full h-full object-cover">
      </div>
      <div></div>
      <div class="absolute top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2 w-[64rem] max-w-5xl px-4 lg:px-0">
          <h1 class="text-4xl md:text-6xl leading-8 font-bold tracking-tight mb-4 text-slate-50">Create stunning web experiences</h1>
          <p class="text-base md:text-lg leading-6 tracking-normal mb-8 text-slate-50">
            Our landing page template works on all devices, so you only have to set it up once, and get beautiful results forever.
          </p>
          <div class="flex gap-3">
            <div>
              <a href="#" class="w-full px-5 py-2.5 text-sm inline-flex leading-4 gap-2 bg-yellow-700 text-slate-50">
                <span>See More</span>
              </a>
            </div>
            <div>
              <a href="#" class="w-full px-5 py-2.5 text-sm inline-flex leading-4 gap-2 bg-transparent text-slate-50">
                <span>See Articles</span>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                </svg>
              </a>
            </div>
          </div>
      </div>
    </div>
  </swiper-slide>
</swiper-container>

<!-- About Us -->
<section class="relative py-10">
  <div id="about-us" class="relative max-w-5xl px-4 lg:px-0 mx-auto">
    <div class="py-10 relative">
      <div class="flex">
        <div class="flex-1">
          <div class="bg-slate-50 pr-8 py-8">
            <h2 class="text-xl md:text-3xl leading-8 font-bold tracking-tight mb-3">Sekilas Tentang Kami</h2>
            <p class="text-sm mb-2">Torchic has a place inside its body where it keeps its flame. Give it a hug—it will be glowing with warmth.</p>
            <p class="text-sm mb-5">It is so dense, while on a run it forgets why it started running in the first place. It apparently remembers sometimes if it demolishes something.</p>
            <a href="#" class="w-full px-5 py-2.5 text-sm leading-4 gap-2 bg-black text-slate-50">Selengkapnya</a>
          </div>
        </div>
        <div class="flex-1"></div>
      </div>
    </div>
  </div>
</section>

<!-- Our Clients -->

<!-- Services -->
<!-- Service Wrapper -->
<section class="relative pb-6">
  <div class="relative max-w-5xl px-4 lg:px-0 mx-auto pt-10">
    <div class="border-b border-violet-700/10 pb-6 mb-6">
      <h2 class="text-xl md:text-3xl leading-8 font-bold tracking-tight mb-3">Kenapa Memilih Jasa Kami</h2>
      <p class="text-sm md:text-base leading-6 tracking-normal text-slate-600">SSP Advocaten menjunjung tinggi nilai-nilai dan prinsip yang dapat mendorong kami untuk selalu memberikan serta menjalin hubungan baik dengan Klien kami. Nilai-nilai inilah yang membedakan kami dengan yang lain:</p>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 md:gap-8">
      <div class="">
        <span class="block mb-2">slate-50 Collar Criminal Defense, Civil, and Commercial Dispute</span>
        <span class="block w-1/4 h-0.5 bg-violet-700/10"></span>
      </div>
      <div class="">
        <span class="block mb-2">Manpower, Foreign Workers and Immigration Law</span>
        <span class="block w-1/4 h-0.5 bg-violet-700/10"></span>
      </div>
      <div class="">
        <span class="block mb-2">Arbitration and Alternative Dispute Resolution</span>
        <span class="block w-1/4 h-0.5 bg-violet-700/10"></span>
      </div>
      <div class="">
        <span class="block mb-2">Manpower, Foreign Workers and Immigration Law</span>
        <span class="block w-1/4 h-0.5 bg-violet-700/10"></span>
      </div>
      <div class="">
        <span class="block mb-2">Arbitration and Alternative Dispute Resolution</span>
        <span class="block w-1/4 h-0.5 bg-violet-700/10"></span>
      </div>
      <div class="">
        <span class="block mb-2">slate-50 Collar Criminal Defense, Civil, and Commercial Dispute</span>
        <span class="block w-1/4 h-0.5 bg-violet-700/10"></span>
      </div>
      <div class="">
        <span class="block mb-2">Arbitration and Alternative Dispute Resolution</span>
        <span class="block w-1/4 h-0.5 bg-violet-700/10"></span>
      </div>
      <div class="">
        <span class="block mb-2">slate-50 Collar Criminal Defense, Civil, and Commercial Dispute</span>
        <span class="block w-1/4 h-0.5 bg-violet-700/10"></span>
      </div>
      <div class="">
        <span class="block mb-2">Manpower, Foreign Workers and Immigration Law</span>
        <span class="block w-1/4 h-0.5 bg-violet-700/10"></span>
      </div>
    </div>
  </div>
</section>



<!-- Contact Us -->
<!-- Background -->
<section class="relative overflow-hidden py-10">
  <div aria-hidden="true" class="bg-law bg-gradient-to-tr -z-10 pointer-events-none absolute inset-0 from-violet-500 to-violet-800"></div>
  <!-- Contact Us Wrapper -->
  <div class="relative max-w-5xl px-4 lg:px-0 mx-auto">
    <div class="block w-fit mb-3 mx-auto">
      <div class="w-12 h-12 rounded-full bg-black"></div>
    </div>
    <h2 class="text-center text-xl md:text-3xl leading-8 font-bold tracking-tight mb-3">SSP Advocaten</h2>
    <h3 class="text-center text-lg md:text-2xl leading-8 font-semibold tracking-tight text-slate-700 mb-3">Our Commitment to Excellence Has Been Recognized</h3>
    <p class="text-center text-sm md:text-base leading-6 tracking-normal text-slate-600 mb-6">We uphold the value of integrity, honesty, and professional ethics in our legal service. We also give each client a combination of deep business and legal practice knowledge to solve all of our client&#39;s legal problem.</p>
    <a href="#" class="w-fit mx-auto px-5 py-2.5 text-sm block leading-4 gap-2 bg-black text-slate-50">
      <span>Contact Us</span>
    </a>
  </div>
</section>
