.hero-clip-path {
  -webkit-clip-path: polygon(0 0, 5760px 0, 5760px calc(100% - 352px), 0 100%);
  clip-path: polygon(0 0, 5760px 0, 5760px calc(100% - 352px), 0 100%);
}

.bg-law {
  // background-image: linear-gradient(to top, rgba(#000, .7), rgba(#000, .1)), url('https://images.unsplash.com/photo-1589829545856-d10d557cf95f?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-image: url('https://images.unsplash.com/photo-1589829545856-d10d557cf95f?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  opacity: .2;
  color: white;
}

// #about-us::after {
//   content: '';
//   position: absolute;
//   width: 75%;
//   display: block;
//   height: 100%;
//   top: 0;
//   right: 0;
//   background: url('https://images.unsplash.com/photo-1436450412740-6b988f486c6b?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
//   z-index: -1;
// }

swiper-container#hero {
  @apply w-screen h-[320px] lg:h-[80vh];
}

.my-swiper-img-wrapper::after {
  content: '';
  background-image: linear-gradient(to top, rgba(#000, .9), rgba(#000, .3));
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.hover-parent {
  &:hover {
    .hover-stop {
      animation-play-state: paused;
    }

    .img-wrapper {
      cursor: pointer;
      opacity: 0.5; // Dim all images
    }

    .img-wrapper:hover {
      opacity: 1; // Full opacity for the hovered image
    }
  }
}

.practice-item {
  text-align: center;
  margin-bottom: 30px;
  padding: 45px 15px;
  background-color: #1d1c1c;
  position: relative;
  overflow: hidden;
  transition: 0.5s all ease;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(to top, rgba(#000, .9), rgba(#000, .3)), var(--img-background);
}

.practice-item:hover {
  background-color: #b69d74;
  transform: translate(0, -10px);
}

.practice-item:hover .practice-icon:before {
  background-color: #66573e;
  transform: rotate(135deg);
}

.practice-item:hover .practice-icon:after {
  background-color: #86714d;
  transform: rotate(-45deg);
}

.practice-item:hover .practice-icon i {
  color: #ffffff;
}

.practice-item .practice-icon {
  position: relative;
  z-index: 1;
  margin-top: 25px;
}

.practice-item .practice-icon:before {
  position: absolute;
  content: "";
  width: 55px;
  height: 55px;
  left: 0;
  top: -5px;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  transform: rotate(45deg);
  z-index: -1;
  transition: 0.5s all ease;
  background-color: #4c4b4b;
}

.practice-item .practice-icon:after {
  position: absolute;
  content: "";
  width: 55px;
  height: 55px;
  left: 0;
  top: -15px;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  transform: rotate(45deg);
  z-index: -2;
  transition: 0.5s all ease;
  background-color: #2d2c2c;
}

.practice-item .practice-icon i {
  color: #b69d74;
  margin-bottom: 32px;
  display: block;
  font-size: 38px;
  position: relative;
  top: -10px;
  transition: 0.5s all ease;
}

.practice-item h4 {
  margin-bottom: 25px;
  color: #ffffff;
  font-weight: 600;
  font-size: 20px;
}

.practice-item p {
  margin-bottom: 25px;
}

.practice-item a {
  display: inline-block;
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 0.5rem 1rem;
  position: relative;
  z-index: 1;
}

.practice-item a:before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  opacity: 0;
  z-index: -1;
  transition: 0.5s all ease;
  background-color: #ffffff;
}

.practice-item a:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  width: 0;
  height: 100%;
  opacity: 0;
  z-index: -1;
  transition: 0.5s all ease;
  background-color: #ffffff;
}

.practice-item a:hover {
  color: #333333;
}

.practice-item a:hover:before {
  width: 50%;
  opacity: 1;
}

.practice-item a:hover:after {
  width: 50%;
  opacity: 1;
}

.practice-item .practice-shape-one {
  position: absolute;
  right: -25px;
  bottom: -60px;
}

.practice-item .practice-shape-two {
  position: absolute;
  right: -72px;
  bottom: -56px;
}