<section id="article-banner" class="h-[200px] w-full mb-10">
  <div class="relative max-w-5xl px-4 lg:px-0 mx-auto h-full flex items-center">
    <h1
      class="uppercase text-3xl md:text-5xl leading-8 font-bold tracking-tight text-white">Layanan</h1>
  </div>
</section>

<section>
  <div class="relative max-w-5xl px-4 lg:px-0 mx-auto">
    <!-- Section 1: Capture Attention & Convey Benefits with a Compelling Headline -->
    <div class="text-left mb-8">
      <h1 class="text-2xl font-bold mb-2">{{ serviceHeader.title ?? "Judul Layanan" }}</h1>
      </div>

    <!-- Section 2: Explain How your Services Solve Problems and Create Great Outcomes -->
    <div class="my-8">
      <ng-container *ngIf="!!serviceHeader.description">
        <div [innerHTML]="getSafeContent()"></div>
      </ng-container>
    </div>

    <!-- Section 3: Services Data -->
    <div *ngIf="isLoading" class="text-center">
      <p>Loading...</p>
    </div>
    <div *ngIf="!isLoading">
      <ng-container *ngIf="services.length > 0">
        <h2 class="text-2xl font-semibold mb-6 text-center">Layanan Kami</h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 mb-10">
          <ng-container *ngFor="let service of services">
            <div class="relative cursor-pointer">
              <div class="rounded-t overflow-hidden pointer-events-none aspect-video bg-gray-300">
                <img src="{{ service.signed_image_url }}" [alt]="service.title + ' Image'" class="w-full h-full object-cover">
              </div>
              <div class="p-1 pt-2">
                <h2 class="text-sm font-bold text-gray-900 capitalize line-clamp-2">{{ service.name }}</h2>
                <a [routerLink]="'detail/' + service.name" class="inline-flex items-center gap-2 text-gray-600 text-sm">
                  <span>Lihat Selengkapnya</span>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-4">
                    <path fill-rule="evenodd" d="M3 10a.75.75 0 0 1 .75-.75h10.638L10.23 5.29a.75.75 0 1 1 1.04-1.08l5.5 5.25a.75.75 0 0 1 0 1.08l-5.5 5.25a.75.75 0 1 1-1.04-1.08l4.158-3.96H3.75A.75.75 0 0 1 3 10Z" clip-rule="evenodd" />
                  </svg>
                </a>
              </div>
            </div>
          </ng-container>
        </div>
      </ng-container>
    </div>

    <div *ngIf="isLoading" class="text-center">
      <p>Loading...</p>
    </div>
    <ng-container *ngIf="!isLoading"></ng-container>
    <div *ngIf="clientReviews.length > 0">
      <h2 class="text-2xl text-center font-semibold mb-6">Review Klien Kami</h2>
      <div class="overflow-hidden">
        <swiper-container loop="true" slides-per-view="3" space-between="24">
          <ng-container *ngFor="let clientReview of clientReviews">
            <swiper-slide>
              <div class="relative cursor-pointer">
                <div class="mx-auto overflow-hidden pointer-events-none size-20 rounded-full bg-gray-300">
                  <ng-container *ngIf="clientReview.image_url; else noImage">
                    <img [src]="clientReview.signed_image_url" [alt]="clientReview.name + ' Image'" class="w-full h-full object-cover">
                  </ng-container>
                  <ng-template #noImage>
                    <img src="/placeholders/person.svg" [alt]="clientReview.name + ' Image'" class="w-full h-full object-cover">
                  </ng-template>
                </div>
                <div class="p-1 pt-2 text-center">
                  <h2 class="text-base font-bold text-gray-900 capitalize">{{ clientReview.name }}</h2>
                  <p class="text-sm">{{ clientReview.position }}</p>
                  <p class="text-sm">"{{ clientReview.description }}"</p>
                </div>
              </div>
            </swiper-slide>
          </ng-container>
        </swiper-container>
      </div>
    </div>

    <div class="mt-4">
      <p class="text-center text-base text-gray-900 mb-4">
        We uphold the value of integrity, honesty, and professional ethics in our legal service. We also give each client a combination of deep business and legal practice knowledge to solve all of our client’s legal problem.</p>
        <a routerLink="/kontak-kami" class="w-fit mx-auto px-5 py-2.5 text-sm block leading-4 gap-2 bg-black text-white">
          <span>Contact Us</span>
        </a>
    </div>
  </div>
</section>
