#article-banner {
  background-image: linear-gradient(to top, rgba(#000, .9), rgba(#000, .3)), url('/placeholders/hero.jpg');
  background-position: right;
  background-size: cover;
}

/* Define custom color */
.bg-custom-gold {
  background-color: #a16207;
}

.bg-custom-gold:hover {
  background-color: #8e5705;
}

/* Enhance the card hover effect */
.group:hover .group-hover\:scale-105 {
  transform: scale(1.05);
}
