<section id="article-banner" class="h-[200px] w-full mb-10">
  <div class="relative max-w-5xl px-4 lg:px-0 mx-auto h-full flex items-center">
    <h1
      class="uppercase text-3xl md:text-5xl leading-8 font-bold tracking-tight mb-4 text-slate-50">
      {{ serviceDetail.name }}
    </h1>
  </div>
</section>

<section class="relative max-w-5xl px-4 lg:px-0 mx-auto h-full items-center">
  <div class="flex gap-6 flex-col sm:flex-row">
    <div *ngIf="!!serviceDetail.image_url" class="w-full mb-4">
      <img [src]="serviceDetail.signed_image_url" alt="{{ serviceDetail.name }}"
        class="w-full max-h-[40vh] h-[40vh] object-cover">
    </div>
  </div>
  <!-- desc -->
  <div class="mt-4">
    <div class="post-content" [innerHTML]="getSafeContent()"></div>
  </div>
</section>
