#article-banner {
  background-image: linear-gradient(to top, rgba(#000, .9), rgba(#000, .3)), url('/placeholders/hero.jpg');
  background-position: right;
  background-size: cover;

}

.person-card::after {
  content: '';
  position: absolute;
  inset: 0;
  background-image: linear-gradient(to top, rgba(#000, .5), rgba(#000, 0));
}
