<section id="article-banner" class="h-[200px] w-full mb-10">
  <div class="relative max-w-5xl px-4 lg:px-0 mx-auto h-full flex items-center">
    <h1 class="uppercase text-3xl md:text-5xl leading-8 font-bold tracking-tight mb-4 text-slate-50">Tentang Kami</h1>
  </div>
</section>

<ng-container *ngIf="isLoading; else showAbout">
</ng-container>
<ng-template #showAbout>
  <section class="">
    <div class="relative max-w-5xl px-4 lg:px-0 mx-auto">
      <div class="flex gap-20">
        <div class="flex-1">
          <p [innerHTML]="getSafeContent()">

          </p>
        </div>
      </div>
    </div>
  </section>
</ng-template>
