<section id="contact-banner" class="h-[200px] w-full mb-10">
  <div class="relative max-w-5xl px-4 lg:px-0 mx-auto h-full flex items-center">
    <h1 class="uppercase text-3xl md:text-5xl leading-8 font-bold tracking-tight text-slate-50">Kontak</h1>
  </div>
</section>

<section class="w-full mb-14">
  <div class="max-w-5xl px-4 lg:px-0 mx-auto">
    <div class="flex flex-col sm:flex-row gap-6 sm:gap-0 items-center sm:items-start">
      <div class="text-center mx-auto sm:mx-0 flex-1 sm:pr-4 sm:border-r">
        <div class="w-14 h-14 rounded-full mb-4 border-[1.5px] border-yellow-700 stroke-yellow-700 inline-flex items-center justify-center mx-auto">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-google-maps" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="current" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M12 9.5m-2.5 0a2.5 2.5 0 1 0 5 0a2.5 2.5 0 1 0 -5 0" />
            <path d="M6.428 12.494l7.314 -9.252" />
            <path d="M10.002 7.935l-2.937 -2.545" />
            <path d="M17.693 6.593l-8.336 9.979" />
            <path d="M17.591 6.376c.472 .907 .715 1.914 .709 2.935a7.263 7.263 0 0 1 -.72 3.18a19.085 19.085 0 0 1 -2.089 3c-.784 .933 -1.49 1.93 -2.11 2.98c-.314 .62 -.568 1.27 -.757 1.938c-.121 .36 -.277 .591 -.622 .591c-.315 0 -.463 -.136 -.626 -.593a10.595 10.595 0 0 0 -.779 -1.978a18.18 18.18 0 0 0 -1.423 -2.091c-.877 -1.184 -2.179 -2.535 -2.853 -4.071a7.077 7.077 0 0 1 -.621 -2.967a6.226 6.226 0 0 1 1.476 -4.055a6.25 6.25 0 0 1 4.811 -2.245a6.462 6.462 0 0 1 1.918 .284a6.255 6.255 0 0 1 3.686 3.092z" />
          </svg>
        </div>
        <h2 class="font-bold text-base uppercase text-slate-900 mb-2">Alamat</h2>
        <p class="text-sm text-slate-600">{{ settingService.getAddress() ?? 'Your address here' }}</p>
      </div>
      <div class="text-center mx-auto sm:mx-0 flex-1 sm:px-4 sm:border-r">
        <div class="w-14 h-14 rounded-full mb-4 border-[1.5px] border-yellow-700 stroke-yellow-700 inline-flex items-center justify-center mx-auto">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-whatsapp" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="current" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M3 21l1.65 -3.8a9 9 0 1 1 3.4 2.9l-5.05 .9" />
            <path d="M9 10a.5 .5 0 0 0 1 0v-1a.5 .5 0 0 0 -1 0v1a5 5 0 0 0 5 5h1a.5 .5 0 0 0 0 -1h-1a.5 .5 0 0 0 0 1" />
          </svg>
        </div>
        <h2 class="font-bold text-base uppercase text-slate-900 mb-2">Nomor Telepon</h2>
        <p class="text-sm text-slate-600">{{ settingService.getPhoneNumber() ?? 'Your phone number here' }}</p>
      </div>
      <div class="text-center mx-auto sm:mx-0 flex-1 sm:pl-4">
        <div class="w-14 h-14 rounded-full mb-4 border-[1.5px] border-yellow-700 stroke-yellow-700 inline-flex items-center justify-center mx-auto">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-mail" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="current" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z" />
            <path d="M3 7l9 6l9 -6" />
          </svg>
        </div>
        <h2 class="font-bold text-base uppercase text-slate-900 mb-2">Email</h2>
        <p class="text-sm text-slate-600">{{ settingService.getEmail() ?? 'Your email here' }}</p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="max-w-5xl px-4 lg:px-0 mx-auto">
    <h3 class="text-center text-3xl font-bold mb-6">Kontak Kami</h3>
    <div class="flex justify-center gap-6">
      <ng-container *ngIf="settingService.getGoogleMap()">
        <iframe class="flex-1" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d31732.62116869429!2d106.80603909999999!3d-6.187233!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sid!2sid!4v1717794977820!5m2!1sid!2sid" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <!-- <iframe [src]="settingService.getGoogleMap()" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->
      </ng-container>
      <div class="w-[400px]">
        <ng-container *ngIf="successMessage">
          <div class="mb-4">
            <span class="rounded block bg-green-100 text-green-600 px-3 py-2 w-full text-sm">{{ successMessage }}</span>
          </div>
        </ng-container>
        <div class="mb-4">
          <input type="text" id="full-name" class="w-full px-3 py-2 placeholder:text-sm text-sm focus-within:outline-none border-slate-200 border text-slate-900 rounded" placeholder="Name Lengkap *" [(ngModel)]="form.name" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="mb-4">
          <input type="email" id="email" class="w-full px-3 py-2 placeholder:text-sm text-sm focus-within:outline-none border-slate-200 border text-slate-900 rounded" placeholder="Email Pribadi *" [(ngModel)]="form.email" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="mb-4">
          <input type="text" id="phone-number" class="w-full px-3 py-2 placeholder:text-sm text-sm focus-within:outline-none border-slate-200 border text-slate-900 rounded" placeholder="Nomor Hp/WA *" [(ngModel)]="form.phone_number" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="mb-4">
          <textarea type="text" id="phone-number" class="w-full px-3 py-2 placeholder:text-sm text-sm focus-within:outline-none border-slate-200 border text-slate-900 rounded" placeholder="Pesan untuk kami" rows="3" [(ngModel)]="form.message" [ngModelOptions]="{standalone: true}"></textarea>
        </div>
        <div>
          <button (click)="sendMessage()" class="w-fit ml-auto block px-5 py-2.5 text-sm leading-4 gap-2 bg-yellow-700 text-slate-50" [disabled]="isSending">
            <span *ngIf="!isSending">Kirim Pesan</span>
            <span *ngIf="isSending">Processing...</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
