@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --swiper-theme-color: rgb(255, 255, 255);
  --swiper-pagination-color: rgb(255, 255, 255);
  --swiper-pagination-bullet-inactive-color: rgb(255, 255, 255)
}

body {
  background: #d1d5db;
}
